.btn-outline-primary {
    color: magenta;
    border-radius: 120px;
    border-color: magenta;
    padding: 4px 20px;

}
.btn-outline-primary:hover , .btn-outline-primary:active {
    color: white;
    border-radius: 120px;
    border-color: magenta;
    padding: 4px 20px;
    background-color: magenta;
}
.btn-primary{
    border-radius: 120px;
    background-color: magenta;
    color: white;
    border-color: magenta;
    padding: 8px 40px;
    margin-top:30px;
}
#banner{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    padding: 0 20px;
}
#banner-parag{
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
}
#mockPnj{
    margin-top: 100px;
}
#first-amar{
font-weight: 700;
font-size: 55px;
}
#second-amar{
font-weight: 300;
margin-bottom: 60px;
color: gray;
}
#first-logo{
    max-width: 8%;
    height: 10%;
    margin-left: 115px;
}
#third-amar{
    font-weight: 700;
    font-size: 55px;
}
#fourth-amar{
    font-weight: 300;
    margin-bottom: 0px;
    color:gray;
}
#second-logo{
    max-width: 8%;
    height: 10%;
    margin-left: 115px;
}
#grow-mobile{
    background-color: hsl(207, 100%, 98%) ;
    padding-bottom: 100px;
    padding: 50px 40px;
}
#grows-under{
    background-color: hsl(207, 100%, 98%) ;
    padding-bottom: 50px;
    
}
#grows-p{
margin-bottom: 0;
padding:0 20px;
}
#flow-img{
    margin: 50px 0;
    padding: 0 40px;
    margin: 80px 0;
}
#flow-p{
    padding: 0 15px;
    margin:20px 0;
}
#flow-h{
    font-weight: 650;
}