.btn-outline-primary {
    color: magenta;
    border-radius: 120px;
    border-color: magenta;
    padding: 4px 20px;

}
.btn-outline-primary:hover , .btn-outline-primary:active {
    color: white;
    border-radius: 120px;
    border-color: magenta;
    padding: 4px 20px;
    background-color: magenta;
}
.btn-primary{
    border-radius: 120px;
    background-color: magenta;
    color: white;
    border-color: magenta;
    padding: 8px 40px;
    margin-top:30px;
}
#banner{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    padding: 0 20px;
}
#banner-parag{
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
}
#mockPnj{
    margin-top: 100px;