.btn-outline-primary {
    color: magenta;
    border-radius: 120px;
    border-color: magenta;
    padding: 4px 20px;

}
.btn-outline-primary:hover , .btn-outline-primary:active {
    color: white;
    border-radius: 120px;
    border-color: hsl(322, 100%, 66%);
    padding: 4px 20px;
    background-color: hsl(322, 100%, 66%);
}
.btn-primary{
    border-radius: 120px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-color: hsl(322, 100%, 66%);
    padding: 8px 40px;
    margin-top:30px;
}
#banner{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    padding: 0 20px;
}
#banner-parag{
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
}
#mockPnj{
    margin-top: 100px;
}
#first-amar{
font-weight: 700;
font-size: 55px;
}
#second-amar{
font-weight: 300;
margin-bottom: 60px;
color: gray;
}
#first-logo{
    max-width: 8%;
    height: 10%;
    margin-left: 115px;
}
#third-amar{
    font-weight: 700;
    font-size: 55px;
}
#fourth-amar{
    font-weight: 300;
    margin-bottom: 0px;
    color:gray;
}
#second-logo{
    max-width: 8%;
    height: 10%;
    margin-left: 115px;
}
#grow-mobile{
    background-color: hsl(207, 100%, 98%) ;
    padding-bottom: 100px;
    padding: 50px 40px;
}
#grows-under{
    background-color: hsl(207, 100%, 98%) ;
    padding-bottom: 50px;
    
}
#grows-p{
margin-bottom: 0;
padding:0 20px;
}
#flow-img{
    margin: 50px 0;
    padding: 0 40px;
    margin: 80px 0;
}
#flow-p{
    padding: 0 15px;
    margin:20px 0;
}
#flow-h{
    font-weight: 650;
}
#sec-2{
    margin-top: 50px;
}
#img-users{
padding: 0 20px;
background-color: hsl(207, 100%, 98%) ;
}
#user-dev{
    background-color: hsl(207, 100%, 98%) ;
}
#user-p{
    margin-bottom: 0;
    padding-bottom: 80px;
}
#user-h{
    padding-top: 50px;
    padding-bottom: 15px;
    font-weight: 700;
}
#last-body-h-h{
    margin-bottom: 0;
    margin-top:80px;
    font-weight: 700;
}
#footer-img{
    margin-top: 200px;
}
#footer-div{
    background-color: hsl(192, 100%, 9%);
    color: white;
}
#footer-h{
    padding-top:50px ;
    margin-bottom: 10px;
    margin-left: 10px;
}
#footer-p{
    padding:0 20px ;
    color: white;
    margin-bottom: 0;
}
#search-bar{
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
}
#search-button{
    margin-top: 20px;
    float: right;
    color: white;
    border-color: hsl(322, 100%, 66%);
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
}
#footer-dev{
    background-color:hsl(192, 100%, 9%);
}
#footer-a{
    color: white;
    font-weight: 700;
    font-size:40px;
}
#icon-img{
margin: 10px 0 0 5px;
width: 30px;
height: 30px;

}
#phone-img{
    height: 15px;
    width: 15px;
    margin:0 20px 0 10px;


}
#footer-a-phone{
    color: hsl(207, 100%, 98%);
    font-size: 15px;
    padding-bottom: 0;
}
#email-img{
    height: 15px;
    width: 15px;
    margin:0 20px 0 10px;


}
#footer-a-email{
    color: hsl(207, 100%, 98%);
    font-size: 15px;
    padding-top: 0;
}
#res-test{
    width: 100%;
    height: auto;
}
@media(min-width:376px){
#footer-img,#user-last-part,#sec-2,#back-des{
display: none;
}
}
@media(min-width:1024px){
    #mockPnj{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #first-mediaTag{
        display: flex;
        margin-top: 50px;
    }
    #first-logo , #second-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #second-mediaTag , #fourth-mediaTag{
        background-color:hsl(207, 100%, 98%);
    }
    #ds-margin{
        margin: 100px 0;
    }
    #footer-div{
        display: flex;
    }
    #ds-form{
        width: 90%;
    }
    #ds-button{
        padding: 0 30px;
        color: white;
        border-color: hsl(322, 100%, 66%);
        background-color: hsl(322, 100%, 66%);
        margin-left: 10px;

    }
}